<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Username" value=""/>
    <add key="DefaultYear" value="2017" />
    <add key="NO" value="[N] No" />
    <add key="YES" value="[Y] Yes" />
    <add key="NHPG1" value="[NHPG1] F0" />
    <add key="NHPG2" value="[NHPG2] F1" />
    <add key="NHPG3" value="[NHPG3] F2 or greater" />
    <add key="NHPG4" value="[NHPG4] Self-sustaining colony" />
    <add key="NHPO1" value="[NHPO1] Animals born at a registered breeder within EU" />
    <add key="NHPO2" value="[NHPO2] Animals born in rest of Europe" />
    <add key="NHPO3" value="[NHPO3] Animals born in Asia" />
    <add key="NHPO4" value="[NHPO4] Animals born in America" />
    <add key="NHPO5" value="[NHPO5] Animals born in Africa" />
    <add key="NHPO6" value="[NHPO6] Animals born elsewhere" />
    <add key="GS1" value="[GS1] Not genetically altered" />
    <add key="GS2" value="[GS2] Genetically altered without a harmful phenotype" />
    <add key="GS3" value="[GS3] Genetically altered with a harmful phenotype" />
    <add key="LO1" value="[LO1] Legislation satisfying EU requirements" />
    <add key="LO2" value="[LO2] Legislation satisfying national requirements only (within EU)" />
    <add key="LO3" value="[LO3] Legislation satisfying Non-EU requirements only" />
    <add key="LT1" value="[LT1] Legislation on medicinal products for human use" />
    <add key="LT2" value="[LT2] Legislation on medicinal products for veterinary use and their residues" />
    <add key="LT3" value="[LT3] Medical devices legislation" />
    <add key="LT4" value="[LT4] Industrial chemicals legislation" />
    <add key="LT5" value="[LT5] Plant protection product legislation" />
    <add key="LT6" value="[LT6] Biocides legislation" />
    <add key="LT7" value="[LT7] Food legislation including food contact material" />
    <add key="LT8" value="[LT8] Feed legislation including legislation for the safety of target animals, workers and environment" />
    <add key="LT9" value="[LT9] Cosmetics legislation" />
    <add key="LT10" value="[LT10] Other" />
    <add key="O1" value="[O1] Animals born in the EU at a registered breeder" />
    <add key="O2" value="[O2] Animals born in the EU but not at a registered breeder" />
    <add key="O3" value="[O3] Animals born in rest of Europe" />
    <add key="O4" value="[O4] Animals born in rest of world" />
    <add key="PB1" value="[PB1] (Basic Research) Oncology" />
    <add key="PB2" value="[PB2] (Basic Research) Cardiovascular Blood and Lymphatic System" />
    <add key="PB3" value="[PB3] (Basic Research) Nervous System" />
    <add key="PB4" value="[PB4] (Basic Research) Respiratory System" />
    <add key="PB5" value="[PB5] (Basic Research) Gastrointestinal System including Liver" />
    <add key="PB6" value="[PB6] (Basic Research) Musculoskeletal System" />
    <add key="PB7" value="[PB7] (Basic Research) Immune System" />
    <add key="PB8" value="[PB8] (Basic Research) Urogenital/Reproductive System" />
    <add key="PB9" value="[PB9] (Basic Research) Sensory Organs (skin, eyes and ears)" />
    <add key="PB10" value="[PB10] (Basic Research) Endocrine System/Metabolism" />
    <add key="PB11" value="[PB11] (Basic Research) Multisystemic" />
    <add key="PB12" value="[PB12] (Basic Research) Ethology / Animal Behaviour /Animal Biology" />
    <add key="PB13" value="[PB13] (Basic Research) Other" />
    <add key="PT21" value="[PT21] (Trans/Appl Research) Human Cancer" />
    <add key="PT22" value="[PT22] (Trans/Appl Research) Human Infectious Disorders" />
    <add key="PT23" value="[PT23] (Trans/Appl Research) Human Cardiovascular Disorders" />
    <add key="PT24" value="[PT24] (Trans/Appl Research) Human Nervous and Mental Disorders" />
    <add key="PT25" value="[PT25] (Trans/Appl Research) Human Respiratory Disorders" />
    <add key="PT26" value="[PT26] (Trans/Appl Research) Human Gastrointestinal Disorders including Liver" />
    <add key="PT27" value="[PT27] (Trans/Appl Research) Human Musculoskeletal Disorders" />
    <add key="PT28" value="[PT28] (Trans/Appl Research) Human Immune Disorders" />
    <add key="PT29" value="[PT29] (Trans/Appl Research) Human Urogenital/Reproductive Disorders" />
    <add key="PT30" value="[PT30] (Trans/Appl Research) Human Sensory Organ Disorders (skin, eyes and ears)" />
    <add key="PT31" value="[PT31] (Trans/Appl Research) Human Endocrine/Metabolism Disorders" />
    <add key="PT32" value="[PT32] (Trans/Appl Research) Other Human Disorders" />
    <add key="PT33" value="[PT33] (Trans/Appl Research) Animal Diseases and Disorders" />
    <add key="PT34" value="[PT34] (Trans/Appl Research) Animal Welfare" />
    <add key="PT35" value="[PT35] (Trans/Appl Research) Diagnosis of diseases" />
    <add key="PT36" value="[PT36] (Trans/Appl Research) Plant diseases" />
    <add key="PT37" value="[PT37] (Trans/Appl Research) Non-regulatory toxicology and ecotoxicology" />
    <add key="PE40" value="[PE40] Protection of the natural environment in the interests of the health or welfare of human beings or animals" />
    <add key="PS41" value="[PS41] Preservation of species" />
    <add key="PE42" value="[PE42] Higher education or training for the acquisition, maintenance or improvement of vocational skills" />
    <add key="PF43" value="[PF43] Forensic enquiries" />
    <add key="PG43" value="[PG43] Maintenance of colonies of established genetically altered animals, not used in other procedures" />
    <add key="PR51" value="[PR51] (Regulatory use/ Routine production) Blood based products" />
    <add key="PR52" value="[PR52] (Regulatory use/ Routine production) Monoclonal antibodies" />
    <add key="PR53" value="[PR53] (Regulatory use/ Routine production) Other" />
    <add key="PR61" value="[PR61] (Regulatory use/ Quality control) Batch safety testing" />
    <add key="PR62" value="[PR62] (Regulatory use/ Quality control) Pyrogenicity testing" />
    <add key="PR63" value="[PR63] (Regulatory use/ Quality control) Batch potency testing" />
    <add key="PR64" value="[PR64] (Regulatory use/Quality control) Other quality controls" />
    <add key="PR71" value="[PR71] (Regulatory use) Other efficacy and tolerance testing" />
    <add key="PR81" value="[PR81] (Regulatory use/Toxicity and../Acute and sub-acute) LD50, LC50" />
    <add key="PR82" value="[PR82] (Regulatory use/Toxicity and../Acute and sub-acute) Other lethal methods" />
    <add key="PR83" value="[PR83] (Regulatory use/Toxicity and../Acute and sub-acute) Non lethal methods" />
    <add key="PR84" value="[PR84] (Regulatory use/Toxicity and..) Skin irritation/corrosion" />
    <add key="PR85" value="[PR85] (Regulatory use/Toxicity and..) Skin sensitisation" />
    <add key="PR86" value="[PR86] (Regulatory use/Toxicity and..) Eye irritation/corrosion" />
    <add key="PR87" value="[PR87] (Regulatory use/Toxicity and../Repeated dose toxicity) up to 28 days" />
    <add key="PR88" value="[PR88] (Regulatory use/Toxicity and../Repeated dose toxicity) 29 - 90 days" />
    <add key="PR89" value="[PR89] (Regulatory use/Toxicity and../Repeated dose toxicity) &gt; 90 days" />
    <add key="PR90" value="[PR90] (Regulatory use/Toxicity and..) Carcinogenicity" />
    <add key="PR91" value="[PR91] (Regulatory use/Toxicity and..) Genotoxicity" />
    <add key="PR92" value="[PR92] (Regulatory use/Toxicity and..) Reproductive toxicity" />
    <add key="PR93" value="[PR93] (Regulatory use/Toxicity and..) Developmental toxicity" />
    <add key="PR94" value="[PR94] (Regulatory use/Toxicity and..) Neurotoxicity" />
    <add key="PR95" value="[PR95] (Regulatory use/Toxicity and..) Kinetics" />
    <add key="PR96" value="[PR96] (Regulatory use/Toxicity and..) Pharmaco-dynamics (incl safety pharmacology)" />
    <add key="PR97" value="[PR97] (Regulatory use/Toxicity and..) Phototoxicity" />
    <add key="PR98" value="[PR98] (Regulatory use/Toxicity and../Ecotoxicity) Acute toxicity" />
    <add key="PR99" value="[PR99] (Regulatory use/Toxicity and../Ecotoxicity) Chronic toxicity" />
    <add key="PR100" value="[PR100] (Regulatory use/Toxicity and../Ecotoxicity) Reproductive toxicity" />
    <add key="PR101" value="[PR101] (Regulatory use/Toxicity and../Ecotoxicity) Endocrine activity" />
    <add key="PR102" value="[PR102] (Regulatory use/Toxicity and.. /Ecotoxicity) Bioaccumulation" />
    <add key="PR103" value="[PR103] (Regulatory use/Toxicity and.. /Ecotoxicity) Other" />
    <add key="PR104" value="[PR104] (Regulatory use/Toxicity and..) Safety testing in food and feed area" />
    <add key="PR105" value="[PR105] (Regulatory use/Toxicity and..) Target animal safety" />
    <add key="PR106" value="[PR106] (Regulatory use/Toxicity and..) Other" />
    <add key="A1" value="[A1] Mice (Mus musculus)" />
    <add key="A2" value="[A2] Rats (Rattus norvegicus)" />
    <add key="A3" value="[A3] Guinea-Pigs (Cavia porcellus)" />
    <add key="A4" value="[A4] Hamsters (Syrian) (Mesocricetus auratus)" />
    <add key="A5" value="[A5] Hamsters (chinese) (Cricetulus griseus)" />
    <add key="A6" value="[A6] Mongolian gerbil (Meriones unguiculatus)" />
    <add key="A7" value="[A7] Other Rodents (other Rodentia)" />
    <add key="A8" value="[A8] Rabbits (Oryctolagus cuniculus)" />
    <add key="A9" value="[A9] Cats (Felis catus)" />
    <add key="A10" value="[A10] Dogs (Canis familiaris)" />
    <add key="A11" value="[A11] Ferrets (Mustela putorius furo)" />
    <add key="A12" value="[A12] Other carnivores (other Carnivora)" />
    <add key="A13" value="[A13] Horses, donkeys and cross-breeds (Equidae)" />
    <add key="A14" value="[A14] Pigs (Sus scrofa domesticus)" />
    <add key="A15" value="[A15] Goats (Capra aegagrus hircus)" />
    <add key="A16" value="[A16] Sheep (Ovis aries)" />
    <add key="A17" value="[A17] Cattle (Bos primigenius)" />
    <add key="A18" value="[A18] Prosimians (Prosimia)" />
    <add key="A19" value="[A19] Marmoset and tamarins (eg. Callithrix jacchus)" />
    <add key="A20" value="[A20] Cynomolgus monkey (Macaca fascicularis)" />
    <add key="A21" value="[A21] Rhesus monkey (Macaca mulatta)" />
    <add key="A22" value="[A22] Vervets Chlorocebus spp. (usually either pygerythrus or sabaeus)" />
    <add key="A23" value="[A23] Baboons (Papio spp.)" />
    <add key="A24" value="[A24] Squirrel monkey (eg. Saimiri sciureus)" />
    <add key="A25" value="[A25] Other species of non-human primates (other species of Ceboidea and Cercopithecoidea)" />
    <add key="A26" value="[A26] Apes (Hominoidea)" />
    <add key="A27" value="[A27] Other Mammals (other Mammalia)" />
    <add key="A28" value="[A28] Domestic fowl (Gallus gallus domesticus)" />
    <add key="A29" value="[A29] Other birds (other Aves)" />
    <add key="A30" value="[A30] Reptiles (Reptilia)" />
    <add key="A31" value="[A31] Rana (Rana temporaria and Rana pipiens)" />
    <add key="A32" value="[A32] Xenopus (Xenopus laevis and Xenopus tropicalis)" />
    <add key="A33" value="[A33] Other Amphibians (other Amphibia)" />
    <add key="A34" value="[A34] Zebra fish (Danio rerio)" />
    <add key="A35" value="[A35] Other Fish (other Pisces)" />
    <add key="A36" value="[A36] Cephalopods (Cephalopoda)" />
    <add key="SV1" value="[SV1] Non-recovery" />
    <add key="SV2" value="[SV2] Mild (up to and including)" />
    <add key="SV3" value="[SV3] Moderate" />
    <add key="SV4" value="[SV4] Severe" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StatisticsReportingSoap" maxReceivedMessageSize="1000000000" maxBufferSize="1000000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://reportingdyreforsoeg.fvst.dk/StatisticsReporting.asmx"
        binding="basicHttpBinding" bindingConfiguration="StatisticsReportingSoap"
        contract="AIRD.Service.StatisticsReportingSoap" name="StatisticsReportingSoap" />
    </client>
  </system.serviceModel>
</configuration>